<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <h1>Carb <span class="font-weight-light">Crunch</span></h1>
      </v-toolbar-title>
    </v-toolbar>

    <v-content>
      <v-container fluid>
        <v-layout>
          <v-flex xs12 sm6 offset-sm3>

            <v-card>
              <v-toolbar card>
                <v-card-title>
                  <h2 class="headline">Build Your Meal</h2>
                </v-card-title>
              </v-toolbar>

              <v-container>
                <v-card-text>
                  <v-list>

                    <v-list-tile>
                      <v-container ma-0 pa-0 fluid>
                        <v-layout>
                          <v-flex xs7 md8>
                            <p class="font-weight-bold">Item</p>
                          </v-flex>

                          <v-flex xs1></v-flex>

                          <v-flex xs2>
                            <p class="font-weight-bold">Carbs</p>
                          </v-flex>

                          <v-flex xs2 md1 text-xs-center>
                            <v-icon small>fa-trash</v-icon>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-list-tile>

                    <v-list-tile>
                      <v-divider></v-divider>
                    </v-list-tile>

                    <template v-for="(item, index) in items">
                      <v-list-tile :key="item.name">
                        <v-container pa-0 fluid>
                          <v-layout>
                            <v-flex xs7 md8>
                              <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                              <v-subheader>{{ item.qty }} {{ item.measure.label }}</v-subheader>
                            </v-flex>

                            <v-flex xs1></v-flex>
                            
                            <v-flex xs2>
                              <v-list-tile-title>{{ item.qty * item.measure.value }}g</v-list-tile-title>
                            </v-flex>

                            <v-flex xs2 md1 text-xs-center>
                              <v-btn fab flat small @click="removeItem(index)"><v-icon small>fa-times</v-icon></v-btn>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-list-tile>

                      <v-list-tile :key="index">
                        <v-divider></v-divider>
                      </v-list-tile>
                    </template>
                    
                    <v-list-tile>
                      <v-container pa-0 fluid>
                        <v-layout>
                          <v-flex xs7 md8>
                            <p class="font-weight-bold">Total</p>
                          </v-flex>

                          <v-flex xs1></v-flex>

                          <v-flex xs2>
                            <p class="font-weight-bold">{{ total }}g</p>
                          </v-flex>

                          <v-flex xs2 md1></v-flex>
                        </v-layout>
                      </v-container>
                    </v-list-tile>
                  </v-list>
                </v-card-text>

                <v-card-actions>

                  <v-dialog v-model="dialog" width="550" scrollable>
                    <v-btn color="primary" slot="activator">Add Item</v-btn>
                    
                    <v-card xs12 sm6 offset-sm3>
                      <v-toolbar card>
                        <v-toolbar-title>Food Search</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-text-field autofocus hide-details label="Search" v-model="query" clearable append-outer-icon="fa-search" @keyup.enter="search" @click:append-outer="search">
                        </v-text-field>
                      </v-toolbar>

                      <v-card-text>
                        <div class="text-xs-center" v-if="searching">
                          <v-progress-circular indeterminate></v-progress-circular>
                        </div>

                        <v-expansion-panel>
                          <v-expansion-panel-content v-for="(item, index) in results" :key="index">
                            <div slot="header">{{ item.name }}</div>
                              <v-container>
                                <v-list subheader>
                                  <v-subheader>Measurements</v-subheader>

                                  <v-list-tile>
                                    <v-list-tile-content>
                                      <v-list-tile-title>{{ item.carbData.value + item.carbData.unit }} per 100g</v-list-tile-title>
                                    </v-list-tile-content>
                                  </v-list-tile>
                                  <v-divider></v-divider>

                                  <template v-for="(measure, index) in item.carbData.measures">
                                    <v-list-tile :key="measure.label">
                                      <v-list-tile-content>
                                        <v-list-tile-title>{{ measure.value }}g per {{ measure.qty }} {{ measure.label }}</v-list-tile-title>
                                      </v-list-tile-content>
                                    </v-list-tile>
                                    <v-divider :key="index"></v-divider>
                                  </template>

                                  <v-list-tile>
                                    <v-layout mt-5>
                                      <v-flex xs1>
                                        <v-text-field label="Qty" v-model.number="qty" type="number"></v-text-field>
                                      </v-flex>
                                      <v-flex xs1></v-flex>
                                      <v-flex xs4>
                                        <v-select label="Unit" v-model="measure" :items="item.carbData.measures" item-text="label" return-object></v-select>
                                      </v-flex>
                                      <v-flex xs1></v-flex>
                                      <v-flex xs4>
                                        <v-text-field label="Total" :value="net" readonly suffix="g carbs"></v-text-field>
                                      </v-flex>
                                      <v-flex xs1></v-flex>
                                      <v-flex>
                                        <v-btn fab small color="primary" @click="addItem(item)"><v-icon small>fa-plus</v-icon></v-btn>
                                      </v-flex>
                                    </v-layout>
                                  </v-list-tile>

                                </v-list>
                              </v-container>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-card-text>

                      <v-divider></v-divider>

                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn flat color="primary" @click="dialog = false">Done</v-btn>
                      </v-card-actions>
                    </v-card>

                  </v-dialog>

                </v-card-actions>
              </v-container>
            </v-card>

          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
const API_KEY = "ULUkOsbgyhKsWq5SHdSuBG0yGuz7I9FMfqz9mFeU";
function getSearchUrl(query) {
  return (
    "https://api.nal.usda.gov/ndb/search/?format=json&ds=" +
    "Standard Reference" +
    "&q=" +
    query +
    "&max=10" +
    "&api_key=" +
    API_KEY
  );
}

function getReportUrl(items) {
  let url =
    "https://api.nal.usda.gov/ndb/V2/reports?format=json&type=b&api_key=" +
    API_KEY;
  for (let item of items) {
    url += "&ndbno=" + item.ndbno;
  }
  return url;
}

function foodSearch(query) {
  return new Promise(resolve => {
    fetch(getSearchUrl(query))
      .then(response => response.json())
      .then(data => {
        fetch(getReportUrl(data.list.item))
          .then(response => response.json())
          .then(data => {
            resolve(data.foods);
          });
      });
  });
}

export default {
  name: "App",
  components: {},
  data() {
    return {
      qty: 0,
      measure: null,
      searching: false,
      query: "",
      dialog: false,
      items: [],
      results: []
    };
  },
  computed: {
    net: function() {
      let net = 0;
      if (this.qty > 0 && this.measure) {
        net = this.qty * this.measure.value;
      }
      return net;
    },
    total: function() {
      return this.items.reduce(
        (prev, curr) => prev + curr.qty * curr.measure.value,
        0
      );
    }
  },
  methods: {
    search: function(event) {
      event.preventDefault();
      this.searching = true;
      foodSearch(this.query).then(data => {
        this.results = Array.from(data, item => {
          this.searching = false;
          return {
            name: item.food.desc.name,
            carbData: item.food.nutrients.find(n => n.nutrient_id === "205")
          };
        });
      });
    },
    addItem: function(item) {
      item.qty = this.qty;
      item.measure = this.measure;
      this.qty = 0;
      this.measure = null;
      this.items.push(item);
    },
    removeItem: function(index) {
      this.items.splice(index, 1);
    }
  }
};
</script>
